
body{
    margin: 0px
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pesquisa{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.campo{
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 50%;

    background-color: lightgrey;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
}
.campo input{
    width: 80%;
    height: 30%;
    font-size: 1.2em;
    text-align: center;
    border: none;
}
.campo button{
    width: 50%;
    height: 30%;
    font-size: 1.2em;
    cursor: pointer;
    background-color: darkgrey;
    border: none;
    border-radius: 5px;
}

.resultado{
    width: 100%;
    height: 50vh;
}